body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background: linear-gradient(180deg, #FFFFFF 0%, #F6F7FB 100%);
    margin: 0;
    padding: 0;
}

/* ================== 
        Header 
=================== */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
}

.profile, .chat {
    width: 24px;
    margin: .5em .75em;
}

.logo {
    width: 50px;
}

/* =====================
Reject & Accept Buttons 
====================== */

section {
    display: flex;
    justify-content: center;
}

button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px #E9E9EA;
    margin: 1em .5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

button img {
    width: 28px;
}

#reject-button:hover,
#reject-button:focus {
    background: #FFE7EF;
    box-shadow: 0px 10px 20px #EDD9DF;
}

#accept-button:hover,
#accept-button:focus {
    background: #DBFFF4;
    box-shadow: 0px 10px 20px #CCF1E6;
}

/* =====================
      Profile 
=================== */

h4 {
    margin: 0 0 .5em 0;
}

#card .dog-img {
    width: 100%;
    border-radius: 15px;
}

#card {
    position: relative;
    width: 100%;
}

.dog-info {
    position: absolute;
    color: white;
    bottom: 10px;
    left: 10px;
}

.dog-bio {
    font-weight: 100;
    margin-bottom: .5em;
}


/* =====================
        Other 
====================== */

.no-profile-text {
    text-align: center;
    padding: 10em 5em;
}

.badge-yes, .badge-no {
    position: absolute;
    top: 15%;
    left: 5px;
    z-index: 2;
    width: 42%;
    transform: rotate(-40deg);
}